﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="~/CSS/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

	<title>LedigBoka</title>
</head>
<body>
	<div class="container-fluid full">
		<div class="top">
			<div class="row space  ">
				<div class="col-xs-10 ">
				</div>
				<div class="col-xs-2 text-right ">
					<span class="nu">nu</span>
					<span class="clock" id="time"></span>
				</div>
			</div>
			<div class="row ">
				<div class="col text-center  ">
					<h1 id="roomState">Ledig</h1>
				</div>
			</div>
		</div>
		<div class="row timemoments ">

			<div class="col-xs-3 text-center ">

				<div id="momentBtn1" class="timebtn1">
					<span></span>

				</div>
			</div>
			<div class="col-xs-3 text-center">
				<div id="momentBtn2" class="timebtn2">
					<span></span>
				</div>
			</div>
			<div class="col-xs-3 text-center">
				<div id="momentBtn3" class="timebtn3">
					<span></span>
				</div>
			</div>
			<div class="col-xs-3 text-center">
				<div id="momentBtn4" class="timebtn4">
					<span></span>
				</div>
			</div>

		</div>
		<div class="row ">
			<div class="col text-center ledigBokatidbtn">
				<button type="button" class="btn btnBokaTid" id="bokaTid">BOKA TID</button></br></br></br></br>
				<div class="medelande">Din tid är booked</div>
				<div class="medelande1">Välj tid först</div>
			</div>

		</div>
	</div>
	<script>
			   // var now = moment.utc().format('HH:mm:ss');
				//console.log(now);
	</script>
</body>
</html>
<script src="~/Scripts/plain.js"></script>