﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>	
	
    <meta name="viewport" content="width=device-width" />
    <title>Conferance booker</title>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<script type="text/javascript" src="~/Scripts/Conferance.js"></script>	
	<link href="~/CSS/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
</head>
<body>

	<div class="container">	
		<div id="bookingsListContainer">
			<h2 class="sub-header">Framtida bokningar i @ViewBag.KonferansRum</h2>
			<div class="table-responsive">
				<table id="eventTable" class="table table-striped">
					<thead>
						<tr>
							<th>Från</th>
							<th>Till</th>
							<th>Bokad Av</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	   <button class="btn btn-lg btn-primary btn-block" id="btnNewBooking" onclick="ConferanceCreator('@Url.Action("CreateEvent", "Conferance")')">Boka nu upp till en timmme reservas</button>	

		
		</div>
	 <!-- /container -->
	

</body>
</html>

<script>
	var getEventUrl = "@Url.Action("GetTodaysEvents", "Conferance")";
	var createEventUrl = "@Url.Action("CreateEvent", "Conferance")";

	Initiate(getEventUrl, createEventUrl);
</script>